header.header
  .container-fluid
    .row.d-flex.bd-highlight.mb-3
      .inner-logo.mr-auto.p-2.bd-highlight
          a(href=`/${prefixAdmin}/dashboard`) ADMIN
      div(class="col-9 sub-header-right p-2 bd-highlight")
        a(href=`/${prefixAdmin}/accounts/detail/${account.id}`)
          .avatar-admin
            img(src=account.avatar, 
            alt=account.fullName
            )
        a(
          class="btn btn-danger btn-sm"
          href=`/${prefixAdmin}/auth/logout`
        ) Đăng xuất