extends ../../layouts/default.pug
//- include  ../../mixins/select-tree.pug

block main 
  if(role.permissions.includes("songs-category_edit"))
    h1(class="mb-4") #{pageTitle}
    form(
      action=`/${prefixAdmin}/topics/edit/${product.id}?_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          requi red
          value=product.title
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          class="form-control"
          id="desc"
          name="description"
          rows="5"
          textarea-mce
        ) #{product.description}
      div(
        class="form-group"
        upload-image
      )
        label(for="avatar") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="avatar"
          name="avatar"
          accept="image/*"
          upload-image-input
        )
        img(
          src=product.avatar 
          class="image-preview"
          upload-image-preview
        )
      div(class="form-group ") Trạng thái nổi bật
        div(class="form-group form-check form-check-inline ml-3")
          input(
            type="radio"
            class="form-check-input"
            id="OS"
            name="outStanding"
            value="true"
            checked=(product.outStanding ? true : false)
          )
          label(for="OS" class="form-check-label") Nổi bật
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="no-OS"
            name="outStanding"
            value="false"
            checked=(!product.outStanding ? true : false)
          )
          label(for="no-OS" class="form-check-label") Không nổi bật
      div(class="form-group ") Trạng thái hoạt động
        div(class="form-group form-check form-check-inline ml-3")
          input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked=(product.status == "active" ? true : false)
          )
          label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
            checked=(product.status == "inactive" ? true : false)
          )
          label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Cập nhật
        a(
          href = `/${prefixAdmin}/topics`
          class="btn btn-danger ml-5"
        ) Hủy
        